<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="utf-8">
  <title><%= title %> <%= full_version  %> AdHoc Install</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="text-center">
      <h1><%= title %> <small><%= full_version %></small></h1>
      <p><img src="https://github.com/ngs/ci2go/raw/master/CI2Go/Assets.xcassets/AppIcon.appiconset/Icon-60@3x.png" width="170" height="170" class="img-rounded"></p>
      <p><a href="itms-services://?action=download-manifest&amp;url=<%= url %>" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-cloud-download"></i>&nbsp;Download</a></p>
      <p>
        <a href="https://github.com/ngs/ci2go/issues/new">Feedbacks</a>
      </p>
    </div>
  </div>
</body>
</html>
