<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="utf-8">
  <title><%= title %> <%= version  %> AdHoc Install</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="text-center">
      <h1><%= title %> <small><%= version %></small></h1>
      <p><img src="<%= icon_url %>" width="170" height="170" class="img-rounded"></p>
      <p><a href="itms-services://?action=download-manifest&amp;url=<%= plist_url %>" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-cloud-download"></i>&nbsp;Download</a></p>
      <p>
        <small><%= sprintf '%.02f', (filesize.to_f / 1024 / 1024) %> MB</small>
        /
        <a href="https://github.com/ngs/ci2go/issues/new">Feedbacks</a>
        /
        <a href="<%= build_url %>">Build#<%= build_num %></a>
      </p>
    </div>
  </div>
</body>
</html>

